<!DOCTYPE html>
<meta charset="utf-8"> 
<html ng-app="listaTema">
<head>
	<title>Obrigado</title>
	<!-- Bootstrap -->
	<link href="css/bootstrap.css" rel="stylesheet" media="screen">
	<script src="js/bootstrap.min.js"></script>
	<!-- Custom CSS -->
	<link href="css/style.css" rel="stylesheet">
	<!-- Jquery -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<!-- Angular JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
	<!-- Controller -->
	<script src="js/listaTemaController.js"></script>
</head>
<body ng-controller="listaTemaController">
	<div class="jumbotron">
		<h2>Obrigado por se cadastrar</h2>
		<h2>O que você gostaria de aprender na disciplina?</h2>

		
		<div class="form">
			<input class="form-control" type="text" ng-model="nomeTema" placeholder="digite um tema">
			<button class="btn btn-primary btn-block" ng-click="addTema(nomeTema)" ng-disabled="!nomeTema">Adicionar tema</button>
			<div ng-show="inTemas" class="alert alert-danger">O tema já foi inserido</div> 
		</div>
		
		<div class="themes">
			<table class="table table-striped">
			<tr>
				<h3>Temas a aprender</h3>
			</tr>
			<tr ng-repeat="tema in temas track by $index" ng-if="tema.aprendido == false">

				<td>{{tema.nome}}</td>
				<div class="buttons">
					<td><button class="btMove" ng-click="moveTema($index)">Mover</button></td>
					<td><button class="btRemove" ng-click="removeTema($index)">Remover</button></td>
				</div>
			</tr>
			</table>

			<hr></hr>
			<table class="table table-striped">
				<tr>
					<h3>Temas aprendidos</h3>
				</tr>
				<tr ng-repeat="tema in temas track by $index" ng-if="tema.aprendido == true">

					<td>{{tema.nome}}</td>
					<td><button class="btRemove" ng-click="removeTema($index)" >Remover</button></td>
					
				</tr>
			</table>

		</div>

		

		
	</div>
</body>
</html>